<select (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="completedProjects">Completed Projects</option>
  <option value="incompleteProjects">Incomplete Projects</option>
</select>


<div *ngFor='let project of projects|async' (click)="goToDetailPage(project)">
  <div *ngIf="filterByPledged === 'allProjects'">
    <h3>{{ project.title }}</h3>
    <h5>{{ project.description }}</h5>
  </div>
  <div *ngIf="filterByPledged === 'completedProjects' && filter(project)">
    <h3>{{ project.title }}</h3>
    <h5>{{ project.description }}</h5>
  </div>
  <div *ngIf="filterByPledged === 'incompleteProjects' && !filter(project)">
    <h3>{{ project.title }}</h3>
    <h5>{{ project.description }}</h5>
  </div>
</div>
