<p>
  project-list works!
</p>
<select (change)="onChange($event.target.value)">
  <option value="allProjects">All Tasks</option>
  <option value="completedProjects">Completed Tasks</option>
  <option value="incompleteProjects" selected="selected">Incomplete Tasks</option>
</select>


  <div *ngFor='let project of projects|async' (click)="goToDetailPage(project)">
    <div *ngIf="filterByPledged === 'allProjects'">
      <h3>{{ project.title }}</h3>
      <h5>{{ project.description }}</h5>
    </div>
    <div *ngIf="filterByPledged !== 'allProjects'">
    <div *ngIf="filter(project)">
      <h3>{{ project.title }}</h3>
      <h5>{{ project.description }}</h5>
    </div>
    <div *ngIf="!filter(project)">
        <h3>{{ project.title }}</h3>
        <h5>{{ project.description }}</h5>
    </div>
  </div>
</div>
