<select (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="completedProjects">Completed Projects</option>
  <option value="incompleteProjects">Incomplete Projects</option>
</select>

<div *ngFor='let project of projects|async' >
  <div *ngIf="filterByPledged === 'allProjects'">
    <input type="checkbox" name='deleteCheck' *ngIf="currentRoute === '/admin'" [ngModel]="checkedProjects" ng-true-value='project.$key'>
    <h3 (click)="goToDetailPage(project)">{{ project.title }}</h3>
    <h5>{{ project.description }}</h5>
  </div>
  <div *ngIf="filterByPledged === 'completedProjects' && filter(project)">
    <input type="checkbox" name='deleteCheck' *ngIf="currentRoute === '/admin'" [ngModel]="checkedProjects" ng-true-value='project.$key'>
    <h3 (click)="goToDetailPage(project)">{{ project.title }}</h3>
    <h5>{{ project.description }}</h5>
  </div>
  <div *ngIf="filterByPledged === 'incompleteProjects' && !filter(project)">
    <input type="checkbox" name='deleteCheck' *ngIf="currentRoute === '/admin'" [ngModel]="checkedProjects" ng-true-value='project.$key'>
    <h3 (click)="goToDetailPage(project)">{{ project.title }}</h3>
    <h5>{{ project.description }}</h5>
  </div>
</div>

<button class='btn btn-danger' (click)="startDelete()">!! Delete !!</button>
